extends ./layouts/default.pug

block title
    title Server Pug

block content


    .container-fluid
        .sidebar
        .content
            .row
                .col-md-6
                    .card
                        img.card-img-top(src='http://img3.doubanio.com/view/celebrity/s_ratio_celebrity/public/p36798.webp',data-video='https://video.zhihu.com/video/1048513738461831168?autoplay=false&useMSE=')
                        .card-body
                            h4.card-title 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前更新
                .col-md-6
                    .card
                        img.card-img-top(src='http://img3.doubanio.com/view/celebrity/s_ratio_celebrity/public/p36798.webp',data-video='https://video.zhihu.com/video/1048513738461831168?autoplay=false&useMSE=')
                        .card-body
                            h4.card-title 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前更新
            .row
                .col-md-6
                    .card
                        img.card-img-top(src='http://img3.doubanio.com/view/celebrity/s_ratio_celebrity/public/p36798.webp',data-video='https://video.zhihu.com/video/1048513738461831168?autoplay=false&useMSE=')
                        .card-body
                            h4.card-title 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前更新
                .col-md-6
                    .card
                        img.card-img-top(src='http://img3.doubanio.com/view/celebrity/s_ratio_celebrity/public/p36798.webp',data-video='https://video.zhihu.com/video/1048513738461831168?autoplay=false&useMSE=')
                        .card-body
                            h4.card-title 这是电影标题
                            p.card-desc 这是电影描述
                        .card-footer
                            small.text-muted 1天前更新